<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/styles/style-reglament.css" type="text/css";
    </head>
    <body>
        <div class="text">
            <h1>Правила участия в викторине.</h1>
            <P>
                Если вы видите эти правила значит вы успешно зарегестрировались и готовы отвечать на вопросы. <br><br>
                Всего в викторине 12 вопросов. Для каждого по школе развешаны листочки с qr-кодами, при сканировании которых вы сможете перейти на страницу с тестом. <br><br>
                Чтобы ответить на вопрос, вы должны ввести в поле "Введите ответ" свой ответ, а в поле "Введите ник" - свой никнейм, который вы указали при регистрации.<br><br>
                За каждый пройденный вопрос будут начисляться баллы. Чем больше раз ошиблись, тем меньше баллов. Максимум - 10 баллов(с первой попытки), минимум - 5 баллов.<br><br> 
            </P>
            <br>
            <h2>Формат ввода: </h2>
            <ol>
                <li>Все Фамилии и инициалы вводятся полностью, каждое слово с заглавной буквы. Например: <span class="green">Иванов Иван Иванович</span>.</li>
                <li>Абсолютно все слова пишутся с большой буквы. Например: <span class="green">Я Хочу Победить</span>.</li>
                <li>Знаки препинания <span class="red">не применяются</span>.</li>
                <li>Даты вводятся в формате "xxxx" без символов "г." и т.п. и слов "год, году...". Например: <span class="green">2019</span>.</li>
                <li>Во втором поле вводите никнейм так, как вы указали его при регистрации. Если ввели <span class="blue">мой <span class="red">Н</span>ик</span> то в поле "Введите ник" введите именно его, сохраняя все завглавные буквы и пробелы: <span class="green">мой <span class="red">Н</span>ик.</li>
                <li>Вместо буквы "ё" вводите "е".</li>
            </ol>
            <br><br>
            <h2 class="red">ЗАПРЕЩАЕТСЯ:</h2>
            <ol>
                <li>Отвечать на один вопрос верно несколько раз.</li>
                <li>Создавать лично несколько аккаунтов. Если вдруг это произошло, то обратитесь за помощью к Аникееву Егору(11-с класс) или Кузнецовой Светлане Алексеевне с просьбой удалить лишний аккаунт.</li>
            </ol>
            <br><br>
            <p>Если ты ознакомился с правилами викторины, то можешь приступать к <a href="/test/1" class="big">первому заданию</a>. Победителя ждет приятный подарок! Желаем удачи! <br></p> 
            <h4 class="starWars">ДА ПРЕБУДУТ С ТОБОЙ ЗНАНИЯ!</h4>
        </div>
    </body>
</html>